{% extends 'base.html.twig' %}

{% block title %}New BanqueDeSang{% endblock %}

{% block body %}
    <h1>Create new BanqueDeSang</h1>

    {{ include('banque_de_sang/_form.html.twig') }}

    <a href="{{ path('app_banque_de_sang_index') }}">back to list</a>
{% endblock %}
