{% extends 'base.html.twig' %}

{% block title %}New BanqueDeSang{% endblock %}

{% block body %}
    <p class="fs-1">Ajouter un nouveau banque de sang</p>

    {{ include('banque_de_sang/_form.html.twig') }}

    <a href="{{ path('app_banque_de_sang_index') }}"><button type="button" class="btn btn-primary">Back to list</button></a>
{% endblock %}
